body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
  background-image: url('/bg.jpg');
  background-size: cover;
  background-position: center;
  /* background-attachment: fixed; */
}

/* Transparent overlays for readability */
header,
nav,
section,
footer {
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(5px);
}

header img {
  margin-left: 1.2rem;
}

header {
  color: #5e35b1;
  padding: 25px 0;
  /* text-align: center; */
  padding-left: 1.5rem;
  font-size: 1.5em;
  font-weight: bold;
  letter-spacing: 1px;
  border-bottom: 2px solid #9575cd;
  display: flex;
  align-items: center;
  padding: 0;
  gap: 1rem;

}

input {
  padding: "8px";
  width: "90%";
  border-radius: "8px";
  border: "1px solid #9575cd";
}

nav {
  background-color: rgba(149, 117, 205, 0.85);
  display: flex;

  /* justify-content: center; */
  flex-wrap: wrap;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 14px 25px;
  display: block;
  font-weight: 500;
  transition: 0.3s;
}

nav a:hover {
  background-color: rgba(94, 53, 177, 0.9);
}

nav a.active {
  background-color: rgba(81, 45, 168, 0.95);
  font-weight: 600;
}

.hero {
  /* text-align: center; */
  padding: 60px 20px;
  color: #4a148c;
}

.hero h2 {
  font-size: 2.2em;
  margin-bottom: 10px;
}

.hero p {
  font-size: 1.1em;
  max-width: 600px;
  /* margin: auto; */
  color: #6a1b9a;
  /* font-weight: bold; */
}

section {
  text-align: center;
  padding: 50px 20px;
}

section h2 {
  color: #7e57c2;
}

.content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 20px;
}

.card {
  background: rgba(255, 255, 255, 0.85);
  width: 250px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  padding: 20px;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

footer {
  background-color: rgba(149, 117, 205, 0.9);
  color: white;
  /* text-align: center; */
  padding: 15px;
  font-size: 0.9em;
}

button {
  background-color: #ba68c8;
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #8e24aa;
}